* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white ;
}


.un{
    background-color: #020a1d;
    border: 5px solid #e2d8a2;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.lien{
    font-family: 'Dancing Script', cursive;
    color: #e2d8a2;
    background-color: #020a1d;
    font-size: 40px;
    border: 2px solid #e2d8a2;
}

.lien:hover{
    color: #020a1d;
    background-color: #e2d8a2;
}

.deux{
    align-items: center;
    justify-content: center;
    display: flex;
}

li{
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 170%;
}

ul {
    list-style-type: none;
}

h1{
    font-family: 'Dancing Script', cursive;
   color: #020a1d ;
   display: block;
   margin-left: 45%;
   margin-right: 45%;   
}

h2{
    display: block;
    margin-left: 40%;
    margin-right: 40%;    
}

.bannière{
    display: block;
    background-color: #020a1d;
    height: 100px;
    width: 100000000px;
}

.prése{
    display: block;
    color: #020a1d;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    line-height: 150%;
    margin-left: 10%;
    margin-right: 10%; 
    border: 2px solid #020a1d;
     
}

p{
    font-family:'Dancing Script', cursive;
    color: #020a1d;
    font-size: 50px;
}

.zoom{
    display: block;
    margin-left: 35%;
    margin-right: 35%;     
}

.lien2{
    color: #e2d8a2;
    background-color: #020a1d;
    font-size: 50px;
    border: 2px solid #e2d8a2;
}

.lien2:hover{
    color: #020a1d;
    background-color: #e2d8a2;
}

.Titre{
    color: #e2d8a2;
    background-color: #020a1d;
    font-size: 50px;
    border: 2px solid #e2d8a2;

}